/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-800;
  }
  p {
    @apply mb-2;
  }
  p:last-child {
    @apply mb-0;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ol,
  ul {
    @apply ml-6 mb-2;
  }
  ul li::marker,
  ol li::marker {
    @apply font-semibold text-red-500;
  }
  hr {
    @apply my-4 border-red-200;
  }
}
